<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Logics at EMAp/FGV</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body  style="background: url(images/img01.jpg) repeat;" >
    <div id="wrapper">
      <div id="page">
	<div id="page-bgtop">
	  <div id="page-bgbtm">
	    <div id="content">
              <h2>{{ page.title }}</h2><br>
		<p class="meta" style="background: url(images/img03.png) repeat;"><span class="date">{{ page.date}}</span><span class="posted">Posted by:{{ page.posted_by}}</span></p>
		{{ content }}	
	      </div>
	      <!-- end #content -->
       	      <div id="sidebar">
		<div id="logo">
		  <h1><a href="/">Logics</a></h1>
		  <p>at &nbsp;<a href="http://emap.fgv.br/"> EMAp/FGV</a></p>
		</div>
		<div id="menu">
		  <ul>
		    <li class="current_page_item"><a href="/">Home</a></li>
		    <li><a href="/research.html">Research Topics</a></li>
		    <li><a href="/team.html">Team</a></li>
		    <li><a href="/applications.html">Applications</a></li>
		  </ul>
		</div>
		<ul>
		  
		</div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	      </div>
	    </div>
	  </div>
	  <!-- end #page -->
	  
	  <div id="footer">
	    <p>&copy; <a href="/"> logics.emap.fgv.br</a>  </p>
	  </div>
	  <!-- end #footer -->
	</body>
      </html>
